#dat files
*.dat

# Temporal backups
*~

# pyc
*.pyc

# Python pickles
*.pkl

# Csv files
*.csv

# Matlab .mat files
*.mat

# Binaries
*.o
*.so

# Build and lib directories
build/*
lib/*
lib64/*
*.egg-info*

# Fits directory
run/fits_cognition/*
run/raw_data_dir/*
*.tar
*.tar.gz

# Cluster job files
*.qsub
*.sbatch
